
{% extends "layout/default_beer.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <section class="row">
        <div class="col-12 col-sm-6">
            <h1 class="text-center">Conditions générales de vente (CGV)</h1>
            <div class="col-12 col-sm-6">
            <p class="col-12 col-sm-6">Tous les prix sont exprimés en euros et TTC. 
            Les prix HT lorsqu'ils apparaissent sont donnés à titre d'information.</p>
        </div>
    </section>
    {{ paginate | raw }}
{% endblock %}