
{% extends "layout/default_beer.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <section class="row">
        <div class="col-12 col-sm-6">
            <h1 class="text-center">Julien@apprendre.co</h1>
        </div>
    </section>
    {{ paginate | raw }}
{% endblock %}