
{% extends "layout/default_beer.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <section class="row">
        <div class="col-12 col-sm-6">
            <p class="col-12 col-sm-6"> Conditions générales de vente (CGV) : 
            prix (les prix sont exprimés en euros et TTC), 
            frais et date de livraison sont indiqués lors de la commande, 
            modalités de paiement, service après-vente, droit de rétractation (aucun), durée de l'offre, 
            coût de la technique de communication à distance.</p>

            <p class="col-12 col-sm-6">Le règlement général sur la protection des données (RGPD) ajoute des obligations liées à la transparence de l'information, spécialement pour les fichiers et traitement informatiques. </p>
            <p class="col-12 col-sm-6">Les données suivantes doivent être mentionnées :</p>

            <p class="col-12 col-sm-6">coordonnées du délégué à la protection des données (DPO ou DPD) de l'organisme, s'il a été désigné, ou d'un point de contact sur les questions de protection des données personnelles ;</p>
            <p class="col-12 col-sm-6"> finalité poursuivie par le traitement auquel les données sont destinées ;</p>
            <p class="col-12 col-sm-6">caractère obligatoire ou facultatif des réponses et conséquences éventuelles à l'égard de l'internaute d'un défaut de réponse ;
            destinataires ou catégories de destinataires des données ;</p>
            <p class="col-12 col-sm-6">droits d'opposition, d'interrogation, d'accès et de rectification ;</p>
            <p class="col-12 col-sm-6">le cas échéant, les transferts de données à caractère personnel envisagés à destination d'un Etat n'appartenant pas à l'Union européenne.
            base juridique du traitement de données (c'est-à-dire ce qui autorise légalement le traitement : </p>
            <p class="col-12 col-sm-6">il peut s'agir du consentement des personnes concernées, du respect d'une obligation prévue par un texte, de l'exécution d'un contrat notamment) ;</p>
            <p class="col-12 col-sm-6">mention du droit d'introduire une réclamation (plainte) auprès de la CNIL.
            </p>
            <p class="col-12 col-sm-6">Des cookies se génèrent automatiquement et ne seront pas utilisés en dehors de ce site. </p>
            <p class="col-12 col-sm-6"> Veuillez noter que le descriptif du procédé de fabrication de nos bières est écrit à caractère humoristique. </p>
        </div>
    </section>
    {{ paginate | raw }}
{% endblock %}