{% extends 'layout/default_beer.twig' %}

{% block body %}
<section class="container-fluid accueil">
    <header class="header-accueil row no-gutters d-flex flex-column align-items-center justify-content-center mb-3">
        <h1 class="h1">Bread Beer Shop</h1>
        <h2 class="h2">Welcome!</h2>
    </header>
    <div class="container my-5">
        <article class="row align-items-center mb-5">
            <div class="col-12 col-sm-6">
                <img class="w-100" src="https://img.maxisciences.com/alternative/mourir-moins-con/une-biere-fabriquee-a-partir-de-pain_4d7f32cf6eb1e370686cf3e3aac501229fee49ef.jpg" alt="BAP logo">
            </div>
            <p class="col-12 col-sm-6">"Le secret de fabrication de cette merveilleuse bière qui fait ma fierté trouve ses origines dans la petite ville de Stugartt en Allemagne, tout ce pain gaspillé, durci et jeté par les différentes firmes boulangères du coin a été récupéré par nos soins pour obtenir la meilleure des bières. 
            Cette bière a été conçue dans le respect de l'esprit écologique comme récupération de divers aliments dont nous vous informerons. 
            L'eau vient directement du puit du jardin de mon voisin qui me le prête généreusement depuis que j'ai donné un petit coup dans sa clôture.
            Le houblon est récolté dans mon champs, il pousse par lui-même depuis plusieurs générations et prouve ainsi sa force de caractère. 
            Le malt est récupéré dans le vieux moulin du village voisin, abandonné depuis des années, il a germé par lui-même et est de la meilleure qualité.

        </article>
        <article class="row flex-row-reverse align-items-center mb-5">
            <div class="col-12 col-sm-6">
                <img class="w-100" src="assets/img/BAP.jpg" alt="BAP logo">
            </div>
            <p class="col-12 col-sm-6">Le pain est récupéré dans les boulangeries alentours avant qu'elles ne s'en débarrassent, celui-ci, après avoir été émietté, me fournit une levure de première qualité. 
            Quelques années auront suffit au malt pour arriver à maturation, au chaud dans le moulin fermé mais pas totalement hermétique, il est bien hydraté par l'eau de pluie. 
            Le malt est ensuite concassé allègrement à l'aide de la plante de mes propres pieds à la peau durcie par l'entraînement. L'ébulition portée à la trempe sur le feu de bois, totalement écologique.
            L'aromatisation par des épices qui ont été incorporées dans la recette, mais je refuse de dévoiler lesquelles, infusées de longues heures.
            Une dizaine de jours dans la cave permet une fermentation mixte puis clarifiée par filtrage. La bière est conservée dans des cuves réfrigérées, alimentées par des panneaux solaires, totalement écologique.</p>
        </article>
    </div>
</section>
{% endblock %}